[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/llvm-project"]
	path = extern/llvm-project
	url = https://github.com/llvm/llvm-project.git
