.post-link {
    font-size: 1.6rem;
    font-weight: bold;
}

.meta {
    color: var(--text-light);
    font-size: 1rem;
}

.blog-item {
    margin-bottom: 4rem;
}

nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.notice {
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}

.medium {
    font-size: 1.4rem;
}

.small {
    font-size: 1rem;
}

.button {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}

.button:hover,
.button:focus {
    filter: brightness(1.4);
    cursor: pointer;
}

.icon {
    vertical-align: sub;
    padding-right: .25rem;
    display: inline-block;
    width: 1em;
    height: 1.3em;
    margin-right: 0.2rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

textarea {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-family: Courier New, Courier, monospace;
    /*remove the resize handle on the bottom right*/
}